<div class="container">
    <div class="container p-2 mb-3" style="display: flex;">
        <div class="col-3">
            <label for="categories"><em>Catégorie du prix Nobel</em></label>
            {{#if objectsPage.listAllCategories}}
                <select class="form-select" style="width: 90%">
                    <optgroup label="Catégories">
                        <option value="notToUse" selected disabled style="font-style: italic">Choisir une catégorie</option>
                        {{#each objectsPage.listAllCategories}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </optgroup>
                </select>
            {{else}}
                <select class="form-select">
                    <optgroup label="Catégories">
                        <option selected disabled style="font-style: italic">Aucune option disponible..</option>
                    </optgroup>
                </select>
            {{/if}}
        </div>
        <div class="col-6">
            <table class="table table-responsive table-bordered" style="width: 95%">
                <thead>
                    <tr>
                        <th class="surname">Nom</th>
                        <th class="firstname">Prénom</th>
                        <th class="year">Année</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="col-3">
            <h4>Nombre de lauréats par catégorie :</h4>
            {{#if objectsPage.countLaureatesByCategories.chemistry }}
                <p>Chimie : {{objectsPage.countLaureatesByCategories.chemistry}}</p>
            {{else}}
                0
            {{/if}}
            {{#if objectsPage.countLaureatesByCategories.economics }}
                <p>Economie : {{objectsPage.countLaureatesByCategories.economics}}</p>
            {{else}}
                0
            {{/if}}
            {{#if objectsPage.countLaureatesByCategories.literature }}
                <p>Littérature : {{objectsPage.countLaureatesByCategories.literature}}</p>
            {{else}}
                0
            {{/if}}
            {{#if objectsPage.countLaureatesByCategories.chemistry }}
                <p>Paix : {{objectsPage.countLaureatesByCategories.peace}}</p>
            {{else}}
                0
            {{/if}}
            {{#if objectsPage.countLaureatesByCategories.physics }}
                <p>Physique : {{objectsPage.countLaureatesByCategories.physics}}</p>
            {{else}}
                0
            {{/if}}
            {{#if objectsPage.countLaureatesByCategories.medicine }}
                <p>Médecine : {{objectsPage.countLaureatesByCategories.medicine}}</p>
            {{else}}
                0
            {{/if}}
        </div>
    </div>
    <div class="container">
        <h4>Nombre de prix remportés par personne/organisme</h4>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Prix gagnés</th>
            </tr>
            </thead>
            <tbody>
            {{#each objectsPage.countPrizesForEachPerson}}
                <tr>
                    <td>{{this.surname}}</td>
                    <td>{{this.firstname}}</td>
                    <td>{{this.nbPrizes}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>

